* {
    margin: 0;
    padding: 0;
    font-smoothing: antialiased;
    box-sizing: border-box;
}
html {
    border-top:2px dashed #6BC7EB;
}

body {
    background-color: #151515;
    background-image: url('/assets/img/bg.png');
    background-repeat: repeat;
    font: 300 22px/27px "Helvetica Neue", sans-serif;
    color: #fff;
    cursor: default;
    transition: background .5s;
    border-top:3px solid #1D363F;
    -webkit-animation: animate_background 2s linear 0s infinite;
    -moz-animation: animate_background 2s linear 0s infinite;
    -o-animation: animate_background 2s linear 0s infinite;
    animation: animate_background 2s linear 0s infinite;
}

h1, h2 {
    display: block;
    font-size: 150%;
    line-height: 125%;
    font-weight: 300;
    color: #ffffff;
    padding-left: 7px;
    margin-top:15px;
    margin-bottom:5px;
}

h1, h3 {
}

h3 {
    font-size: 100%;
    font-weight: 300;
    bottom: 30px;
    color: #fff;
}

.me {
    max-width:100%;
    max-height:100%;
    text-align: center;
}

.redheart {
    color:#ff0000;
    font-size:36px !important;
    font-family:'arial unicode MS', arial, geneva, sans-serif;
}

a {
    color: #DB5F5F;
    text-decoration:none
}

a:hover,a:active,a:focus {
    color:#00bfff
}

p {
    color: #999999;
}
p span, h1 span, h2 span{
    color: #6BC7EB;
}

@-webkit-keyframes animate_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200px -200px;
    }
}
@-moz-keyframes animate_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200px -200px;
    }
}
@-o-keyframes animate_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200px -200px;
    }
}
@keyframes animate_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200px -200px;
    }
}
